<div *ngIf="members">
    <div class="modal-header">
        <div>
            <h4 class="modal-title">Chat Details</h4>
            <button type="button" class="close-btn"  (click)="activeModal.dismiss()">
                Close
            </button>
        </div>
        <div class="chat-info">
          <div class="chat-img">
          </div>
          <div>
              <div class="chat-name">
                  {{chatName}}
              </div>
              <div class="members-count">
                  {{members.length}} members
              </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="new-member">
            <fa-icon [icon]="['fas','user']"></fa-icon>
            <button (click)="addMemberHandler()">Add member</button>
        </div>
        <div class="members">
            <div>
                <fa-icon [icon]="['fa','users']"></fa-icon>Members
            </div>
            <div *ngFor= "let user of members" class="user">
               <user [user]="user"></user>
            </div>
        </div>
      </div>
</div>