<div *ngIf="users.length>0">
    <div class="modal-header">
        <h4 class="modal-title">Users</h4>
        <button type="button" class="close-btn" (click)="activeModal.dismiss()">
          Close 
        </button>
      </div>
      <div class="modal-body">
        <div class="search">
            <fa-icon [icon]="['fas','search']"></fa-icon>
            <input type="text" placeholder="Search" [(ngModel)]="searchUserName">    
        </div>
      </div>
      <div 
        class="user-list"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScroll()"
        >
            <div class="user-info" *ngFor="let user of users | filter:searchUserName" (click)="selectUser(user.id)" [class.selected]="user.id == selectedUserId">
                   <user [user]=user></user>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button (click)="addUserToChatHandler()" *ngIf="isAddBtnVisible">Add To Chat</button>
    </div>
    