<div *ngIf="users.length>0">
    <div class="modal-header">
        <h4 class="modal-title">Users</h4>
        <button type="button" class="close-btn" (click)="activeModal.dismiss()">
          Close 
        </button>
      </div>
      <div class="modal-body">
        <div class="search">
            <fa-icon [icon]="['fas','search']"></fa-icon>
            <input type="text" placeholder="Search" [(ngModel)]="searchUserName">    
        </div>
      </div>
      <div 
        class="user-list"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScroll()"
        >
            <div class="user-info" *ngFor="let user of users | filter:searchUserName" (click)="selectUser(user.id)" [class.selected]="user.id == selectedUserId">
                    <div class="user-avatar" [routerLink]="['user',user.id,'profile']">
                        <img src="{{user.avatarUrl || 'https://us.123rf.com/450wm/triken/triken1608/triken160800028/61320729-male-avatar-profile-picture-default-user-avatar-guest-avatar-simply-human-head-vector-illustration-i.jpg?ver=6'}}" alt="userAvatar">
                    </div>
                    <div>
                        <div class="user-name">
                            {{user.userName}}
                        </div>
                        <div *ngIf="user.isOnline" class="online">
                            online
                        </div>
                        <div *ngIf="!user.isOnline" class="last-visit">
                            last visit {{user.lastVisit | date:"MMM d, y"}} at {{user.lastVisit|date:"hh:mm a"}}
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button (click)="addUserToChatHandler()">Add To Chat</button>
    </div>
    