<div class="container">
    <form novalidate #form="ngForm" (ngSubmit)="login(form)">
        <h1>
          Sign in
        </h1>
        <div class="error">{{error}}</div>
        <div class="form-content">
          <input id="user-name" name="username" placeholder="user name" type="text" [(ngModel)]="username" />
          <input id="password" name="password" placeholder="password" type="password" [(ngModel)]="password"/>
          <br/>
          <button class="button" type="submit">Sign in</button>
          <br />
          <div class="text">OR</div>
          <button class="button sign-up-btn" [routerLink]="['/sign-up']" type="button">Sign Up</button>
        </div>
      </form>
</div>