<div class="container">
        <form novalidate #form="ngForm" [formGroup]="formGroup" (ngSubmit)="submitForm(form)">
            <h1>
              Sign up
            </h1>
            <ul class="errors">
              <li *ngFor="let error of errors">
                {{error}}
              </li>
            </ul>
            <div class="form-content">
              <div *ngFor="let control of formGroup.signInControls" class="control">
                  <input
                    type="{{control.type}}"
                    [(ngModel)]="registerModel[control.modelProperty]"
                    name="{{control.modelProperty}}"
                    formControlName="{{control.modelProperty}}"
                    placeholder="{{control.label}}"
                  >
                  <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || control.dirty) && control.invalid">
                        <li *ngFor="let error of control.getValidationMessages()">
                            {{error}}
                        </li>
                  </ul>
              </div>
              <button class="button" type="submit">Sign Up</button>
              <div class="text">OR</div>
              <button class="button sign-in-btn" [routerLink]="['/login']" type="button">Sign In</button>
              <br />
            </div>
          </form>
    </div>