:host{
    height: 100vh;
}

.chat{
   display: flex;
   background-color: #fff;
}

.chat-list{
    max-height: 90vh;
    overflow: hidden;
    border-right: 2px solid #E9EBED;
    width: 31%;
}

.chat-list:hover{
    overflow-y: overlay;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: gray;
}

.chat-box{
    width: 69%;
    height: 100% ;
}

.show{
    visibility: visible;
}



.opened{
    background-color: #5682A3;
}

.user-list-modal .modal-content{
    border:none;
}

@media only screen and (max-width:600px){
    .chat-list{
        width: 100%;
        height: 100vh;
    }

    .chat-box{
        display:none;
        width: 100%;
    }

    .chat-box.show{
        display: block;
    }

    .hide{
        
    }

    .chat-list.hide{
        display: none;
    }

}