:host{
    height: 100vh;
}

.chat{
   display: flex;
   background-color: #fff;
}

.chat-list{
    border-right: 2px solid #E9EBED;
    width: 31%;
}

.chat-box{
    width: 69%;
    height: 100% ;
}

.show{
    visibility: visible;
}



.opened{
    background-color: #5682A3;
}

.user-list-modal .modal-content{
    border:none;
}

@media only screen and (max-width:600px){
    .chat-list{
        width: 100%;
    }

    .chat-box{
        display:none;
        width: 100%;
    }

    .chat-box.show{
        display: block;
    }

    .hide{
        
    }

    .chat-list.hide{
        display: none;
    }
}