.user{
    display: flex;
}

.user-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-avatar img:hover{
    cursor: pointer;
}

.user-name{
    color:#000;
    font-weight: bold;
}

.last-visit{
    color:#B5B5B5;
}

.online{
    color:#688FB1;
}