
.chat-header{
    height: 50px;
    background-color: #5682A3;
    position: relative;
    z-index: 22;
}

.navigation{
    height: 100%;
    width: 30.9%;
}

.menu{
    display: none;
    border-bottom:3px solid #E7EBF0;
    position: relative;
    top:32px;
    left:0;
    width: 100%;
}

.menu li{
    display: block;
    padding: 15px 20px;
    background-color: #fff;
    color:#5682A3;
    border-bottom: 1px solid gray;
}

.menu li:hover{
    background-color: #F2F6FA;
    cursor: pointer;
}

.burger:hover{
    cursor: pointer;
}

.burger{
    width: 20px;
    height: 18px;
    position: relative;
    top:16px;
    left:25px;
}

.burger div{
    width: 20px;
    height: 2px;
    margin: 4px 0;
    background-color: #fff;
}

.back-btn{
    display: none;
    position: relative;
    top:-8px;
    left:25px;
    width: 30px;
}

.back-btn:hover{
    cursor:pointer;
}

.back-btn fa-icon{
    font-size: 22px;
    color:#fff;
}

.menu fa-icon{
    margin-right: 25px;
    font-size: 18px;
}

.show-menu{
    display: block;
}

 .selected-chat{
    position: absolute;
    right:31%;
    top:13px;
    color:#fff;
    font-weight: bold;
    font-size: 18px;
} 

.selected-chat:hover{
    cursor: pointer;
}

@media only screen and (max-width:600px){
    .burger{
        left:0;
        margin-left: auto;
        margin-right: 25px;
        z-index:999;
    } 
    
    .navigation{
        width: 100%;
    }

    .back-btn{
        display: block;
    }

    
    .selected-chat{
        right:42%;
    }
}


