<div class="chat-header">
    <div class="burger" (click)="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
    </div>
    <div class="back-btn" *ngIf="showBackBtn" (click)="closeChatHandler()">
        <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    </div>
    <div class="navigation">
        <nav>
            <ul class="menu animated"  [ngClass]="isMenuVisible?'show-menu slideInDown':'slideInUp'">
                <li  [routerLink]="['user',userId,'profile']"> <fa-icon [icon]="['fas', 'user']"></fa-icon>  Profile</li>
                <li [routerLink]="['']"><fa-icon [icon]="['fas','comment']"></fa-icon>Chats</li>
                <li (click)="openUsersModal()"><fa-icon [icon]="['fas','users']"></fa-icon>Users</li>
                <li (click)="createChatHandler()"><fa-icon [icon]="['fas','plus']"></fa-icon>New chat</li>
                <li (click)="logout()"><fa-icon [icon]="['fas','sign-out-alt']"></fa-icon>Logout</li>
            </ul>
        </nav>    
    </div>
    <div class="selected-chat" (click)="openChatDetailsHandler()">
        {{chatName}}
    </div>
</div>